header{
    /* background-color: #BBBBBB; */
    background-image: url("../image/home.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
    
}
.logoBarberia{
    box-shadow: 5px 5px 10px 5px blue;
    border-radius: 10px;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
    border-bottom: 5px solid blue;
    padding-bottom: 10px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: aqua;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    
}
.productos-images{
    width: 250px;
    height: 250px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: #CCCCCC;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border:2px solid #000000;
    border-radius: 10px;
    

}

.productos li:hover{
    border-color: #c78c79;
    transform: scale(1.1) translateY(-5px);
    /* box-shadow: 5px 5px 5px blue; */
    /* box-shadow: 0px 5px 10px 0px yellow; */
    box-shadow: 5px 5px 10px 5px yellow; 
    /* transform: translateY(-5px); */

}

.productos li:active{
    border-color: #088c19;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 33px;
}
.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}

footer{
    text-align: center;
    background: url("../image/bg.jpg");
    padding: 40px;
}


.copyrigth{
    color:#FFFFFF;
    font-size: 13px;
    margin: 20px;

}